{% extends 'base.html' %}

{%block head%}
<title>Contact Page</title>
{% endblock %}

{%block body%}
    <h2 style="text-align:center"> About Us</h2>
    
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Our History. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">While running TalentQL, we realised that there was a huge knowledge gap with some of the software engineers who passed through our vetting process, when it came to understanding basic things about software engineering.
            A lot of them were self-taught and while they had gone on to gain good technical skills, some foundational knowledge was missing.
            So, we decided to make things easier by creating a school that is not fully a school. An alternative to school. Here you can, in under a year, learn and gain a certification in a myriad of disciplines to give you a great foundation as well as the start you need to go for your dream tech career.
            </p>
      </div>
      <div class="col-md-5">
        <img class=" " width="400" height="400" style="border-radius: 50%"  src="../static/img/1.png" alt="about page image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1"> Our Mission. <span class="text-muted">Oh yeah, it’s that good.</span></h2>
        <p class="lead">Our Mission is to help you get started on the career you want. Whether you are fresh out of high school, seeking extra education, or want to transition to a career in tech,
            We will give you the skills and insight to achieve the success you desire.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class=" " width="400" height="400" style="border-radius: 50%"  src="../static/img/2.jpg" alt="second about page image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Collaborate with us. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">Interested in inspiring the next generation of top tech talent? Collaborate with us. We are committed to helping as many young Africans kickstart a career in technology by providing them with access
            to quality technical education by real world experts.</p>
      </div>
      <div class="col-md-5">
          <img class=" " width="400" height="400" style="border-radius: 50%"  src="../static/img/3.png" alt="third page image">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
{% endblock %} 